#calendar .trip-inquire .fc-title {
	color: #999;
	font-style: italic;
}

#legend {
	border: 1px solid black;
	padding: 7px;
	margin: 15px 0 25px 0;
	text-align: center;
}
#legend div {
	display: inline-block;
	margin-left: 25px;
}
#legend div:first-child {
	margin-left: 0;
}
#legend .swatch {
	display: inline-block;
	width: 12px;
	height: 12px;
}
